footer {
  background-color: #353435;
  padding: 10px 10px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 6px 8px;
}

a {
  text-decoration-line: none;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
