footer {
  background-color: #673ab7;
  padding-top: 0.5px;
  position: sticky;
  top: 99%;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration-line: none;
  color: white;
  display: inline-flex;
  align-items: center;
}
