
.q-grid {
    min-width:95%;
}

.circles-header {
    text-align: center;
    font-size: 2vw;
}

.info-header {
    font-size: 2vw;
}

.tile-header-q {
    background-color: orange !important;
    font-weight:bolder !important;
    font-size: 20px !important;
    color: #673ab7 !important;
}

.svg-item {
    width: 40vmin;
    font-size: 0.4vmin;
    margin: 0 auto;
}

.donut-percent {
    font-size: 0.8vmin;
    font-weight: bolder;
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment {
    transform-origin: center;
}

.donut-segment-2 {
    stroke: green;
}

.donut-segment-3 {
    stroke: yellow;
}
 
.donut-segment-4 {
    stroke: red;
}

.idle-agents {
    background-color: orange;
}

.busy-agents{
    background-color: green;
}

.nonacd-agents {
    background-color: purple;
}

.unavail-agents {
    background-color: black;
}

.agents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-height: 50%;
    overflow: auto;
}

.agent-ind {
    /*width: 10vmin;
    height: 10vmin;*/
    margin: auto;
    padding: 2vmin;
    text-align: center;
    cursor: pointer;
}

.agent-pic {
    width: 10vmin;
    border-radius: 50%;
}
.agent-loggedout {
    border: 3px solid gray; 
    box-shadow: 0 0 8px gray;
}

.agent-worktimer {
    border: 3px solid blue; 
    box-shadow: 0 0 8px blue;
}

.agent-acd {
    border: 3px solid green; 
    box-shadow: 0 0 8px green;
}

.agent-nonacd {
    border: 3px solid purple; 
    box-shadow: 0 0 8px purple;
}

.agent-idle {
    border: 3px solid orange; 
    box-shadow: 0 0 8px orange;
}

.agent-makebusy {
    border: 3px solid pink; 
    box-shadow: 0 0 8px pink;
}

.agent-ringing {
    border: 3px solid yellow; 
    box-shadow: 0 0 8px yellow;
}

.agent-acdhold {
    border: 3px solid cyan; 
    box-shadow: 0 0 8px cyan;
}

.agent-outb {
    border: 3px solid red; 
    box-shadow: 0 0 8px red;
}

.agent-time-entered{
    color: lightgrey;
    font-weight: lighter;
    font-size: smaller;
}
